
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springtest.boot.dao.LoginMapper">

    <resultMap type="com.springtest.boot.entity" id="userEntity">
        <result property="userId" column="userId" jdbcType="VARCHAR" javaType="String" />
        <result property="username" column="username" jdbcType="VARCHAR" javaType="String" />
        <result property="password" column="password" jdbcType="VARCHAR" javaType="String" />
        <result property="groupId" column="groupId" jdbcType="VARCHAR" javaType="String" />
        <result property="firends" column="firends" jdbcType="VARCHAR" javaType="String" />
        <result property="blacks" column="blacks" jdbcType="VARCHAR" javaType="String" />
    </resultMap>

    <sql id="login">

    </sql>

</mapper>