<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="checkRegistry" autocomplete="off" method="post">
    账号：<input name="username" value=""><br>
    密码：<input name="password" value=""><br>
    确认密码：<input name="password2" value=""><br>
    年龄:<input name="age" value=""><br>
    性别：<input name="sex" type="radio" value="0">男<input name="sex" type="radio" value="1">女<br>
    手机:<input name="phone" value=""><br>
    E-mail:<input name="email" value=""><br>
    <button type="submit">注册</button>
</form>
</body>
</html>